<?php

return [
  'server.auth'     => 'https://data.easybib.com/oauth/authorize',
  'server.token'    => 'https://data.easybib.com/oauth/token',
  'entrypoint.data' => 'https://data.easybib.com/projects/',
  'entrypoint.user' => 'https://data.easybib.com/user/',
  'client.id'       => '',
  'client.secret'   => '',
];