<?php

return [
   'server.auth'     => getenv('OAUTH_URL_ID')    . '/oauth/authorize',
   'server.token'    => getenv('OAUTH_URL_ID')    . '/oauth/token',
   'entrypoint.data' => getenv('OAUTH_URL_DATA') . '/projects/',
   'entrypoint.user' => getenv('OAUTH_URL_DATA') . '/user/',
   'client.id'       => getenv('OAUTH_ID'),
   'client.secret'   => getenv('OAUTH_SECRET'),
];
