<?php

if (file_exists($app['appRootPath'] . '/.deploy_configuration.php')) {
    $deployConfiguration = require_once($app['appRootPath'] . '/.deploy_configuration.php');

    if (extension_loaded('tideways')) {
        $app['qafoo.profiler.key'] = $deployConfiguration['settings']['QAFOO_PROFILER_KEY'];
        $app->register(new EasyBib\Silex\Provider\QafooProfilerServiceProvider());
    }

    return [
       'server.auth'     => $deployConfiguration['settings']['OAUTH_URL_ID']   . '/oauth/authorize',
       'server.token'    => $deployConfiguration['settings']['OAUTH_URL_ID']   . '/oauth/token',
       'entrypoint.data' => $deployConfiguration['settings']['OAUTH_URL_DATA'] . '/projects/',
       'entrypoint.user' => $deployConfiguration['settings']['OAUTH_URL_DATA'] . '/user/',
       'client.id'       => $deployConfiguration['settings']['OAUTH_ID'],
       'client.secret'   => $deployConfiguration['settings']['OAUTH_SECRET'],
    ];
}

return [
   'server.auth'     => getenv('OAUTH_URL_ID')    . '/oauth/authorize',
   'server.token'    => getenv('OAUTH_URL_ID')    . '/oauth/token',
   'entrypoint.data' => getenv('OAUTH_URL_DATA') . '/projects/',
   'entrypoint.user' => getenv('OAUTH_URL_DATA') . '/user/',
   'client.id'       => getenv('OAUTH_ID'),
   'client.secret'   => getenv('OAUTH_SECRET'),
];
